body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
$color_7: brown;
$color_6: #ab4493;
$color_1: black;
$color_2: #fff;
$color_3: #ab4493;
$color_4: #0e0e0e;
$color_5: #a8a8a8;
$background-color_1: #eaeaea;
$background-color_2: #fbfbfb;
$background-color_3: #ab4493;
$border-color_1: #ab4493;
